hr.belanja{
  border: 6px solid gray;
  border-radius: 5px;
}

.fa-plus-circle:hover{
	color: #27E6EB;
}

.fa-minus-circle:hover{
	color: #27E6EB;
}

.fa-plus-circle, .fa-minus-circle{
	font-size: 1.4em;
	color: gray;
	cursor: pointer;
}