#sidebar{
	letter-spacing: .2rem;
}

.jumbotron{
	background-color: rgba(107,102,102,1);
}

.list-produk{
	display: flex;
	flex-direction: row;
}

#sidebar{
	height: 100%;
}

#harga{
	color: #2CB727;
}

#line{
	border-left: 2px solid gray;
	height: 120px;
}

